rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /socialPosts/{postId} {
      allow read, write: if false;
    }
    match /socialConfig/{docId} {
      allow read, write: if false;
    }
  }
}
